<div class="styleguide-demo">
	<div class="styleguide-demoTabs">
		<a data-tab-toggle onclick="styleguide.showTab(this, 'example')" class="active">Example</a>
		{{#each tabs}}
			<a data-tab-toggle onclick="styleguide.showTab(this, '{{id}}')">{{id}}</a>
		{{/each}}
	</div>
	<div class="styleguide-demoContents active" data-tab-id="example">
		<iframe name="{{iframeName}}" src="{{iframeSrc}}" style="width: 100%"></iframe>
	</div>
	{{#each tabs}}
		<div class="styleguide-demoContents" data-tab-id="{{id}}">
			<pre class="styleguide-demoCode prettyprint">{{contents}}</pre>
		</div>
	{{/each}}
</div>
