<div class="styleguide-page">
	<div class="styleguide-sidebar">
		<div class="styleguide-brand">
			<img src="/static/aconex-logo.png">
			<a href="/">{{{nav_title}}}</a>
		</div>
		<ul class="styleguide-nav">
			{{#each categories}}
				<li>{{id}}
					<ul>
						{{#each items}}
							{{#if active}}
								<li><a class="{{#if active}}active{{/if}}">{{id}}</a></li>
							{{else}}
								<li><a href="{{url}}">{{id}}</a></li>
							{{/if}}
						{{/each}}
					</ul>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="styleguide-content">
		<div>{{{contents}}}</div>
	</div>
</div>
